<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon size="large" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Endereços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      Lista de endereços
    </ion-list-header>

    <ion-item *ngFor="let address of adds">
      
      <ion-icon slot="start" name="location-outline"></ion-icon>
      
      <ion-label [routerLink]="['/address/edit/', address.id]">
        <p>{{ address.name }}</p>
      </ion-label>
    </ion-item>

  </ion-list>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    
      <ion-fab-button [routerLink]="['/address/add']" 
      routerDirection="forward" color="success">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
     
  </ion-fab>  
  
</ion-content>


