<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      Lista de Endereços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <!-- <ion-list-header>
      <h2>Lista de endereços</h2> 
    </ion-list-header> -->

    <ion-item *ngIf="!loaded">
      <h2>Carregando...</h2>
    </ion-item>

    <ion-item *ngFor="let address of addresses | async" [routerLink]="['/address/edit/', address.id]">
      <ion-icon *ngIf="loaded" slot="start" name="location-outline"></ion-icon>
      <ion-label *ngIf="loaded">
        <p>{{ address.name }}</p>
      </ion-label>
    </ion-item>     

  </ion-list>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    
      <ion-fab-button [routerLink]="['/address/add']" 
      routerDirection="forward" color="success">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
     
  </ion-fab>  
  
</ion-content>


